<div class="row row-border" id="book-list">
  <%= pagy_nav(@pagy).html_safe %>

  <% @lessons.each do |lesson| %>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <%= image_tag lesson.avatar_url %>
      </div>
      <div class="col-md-7">
        <h4><%= link_to lesson.title, lesson %></h4>
        <p><i class="fa fa-book" aria-hidden="true"></i> Learned times: <%= lesson.user_lessons.count %></p>
        <p><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes: <%= lesson.likes.count %></p>
        <p><i class="fa fa-bicycle" aria-hidden="true"></i> Level: <%= lesson.level %></p>
      </div>
    </div>
  <% end %>        

  <%= pagy_nav(@pagy).html_safe %>
</div>
