<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 product-list">
      <div class="row-border">
        <div class="show-product">
          <% if @user_lesson %>
            <div class="user-point">
              <h3 class="text-center">You completed this lesson</h3>
              <div class="text-center">Your point is: <strong><%= @user_lesson.point %></strong> / 500</div>
            </div>
            <hr>
          <% end %>
          <%= image_tag @lesson.avatar_url, class: "center-block" %>
          <div class="center-block">
            <h3 class="text-center"><%= @lesson.title %></h3>
            <div class="row">
              <% if logged_in? %>
                <div class="col-md-5"></div>
                <div class="col-md-2 text-center">
                  <%= render "like_form" %>
                </div>
                <br />
                <div class="col-md-5"></div>
                <br />
              <% end %>
              <hr>
              <div class="col-md-8 col-md-offset-2 sentence">
                <ul>
                  <% @lesson.sentences.each_with_index do |sentence, index| %>
                    <li id="<%= "content_#{index + 1}"%>" data-content="<%= sentence.content %>"><%= "#{index + 1}." %> <%= "#{sentence.content}." %></li>
                    <button class="btn btn-default sound" value="<%= "#{index + 1}" %>" ><i class="fa fa-volume-up" aria-hidden="true" value="<%= "#{index + 1}" %>"></i></button>
                    <button class="btn btn-default record" value="<%= "#{index + 1}" %>" ><i class="fa fa-microphone" aria-hidden="true" value="<%= "#{index + 1}" %>"></i></button>
                    <br>
                    <div class="col-md-5"></div>
                    <br>
                    <div class="col-md-5"></div>
                    <textarea id="<%= "sentence_#{index + 1}" %>" class="form-control" disabled></textarea>
                    <br>
                      <div class="progress">
                        <div id="<%= "progress_#{index + 1}" %>" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                          0%
                        </div>
                      </div>
                    <br><br>
                  <% end %>
                </ul>
                <% if logged_in? && !@user_lesson %>
                  <div class="col-md-4"></div>
                  <div class="col-md-2 text-center">
                    <button class="btn btn-success" id="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i>Submit</button>
                  </div>
                  <div class="col-md-2 text-center">
                    <button class="btn btn-warning" id="reset"><i class="fa fa-repeat" aria-hidden="true"></i>Reset</button>
                  </div>
                  <br />
                  <div class="col-md-4"></div>
                  <br />
                <% end %>
              </div>
            </div>
            <br>
                
            <hr />
            <h3 class="card-header">Leave a Comment:</h3>
            <br>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
